<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
     
     <!-- 配置数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
    	<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/ssh"/>
    	<property name="user" value="root"/>
    	<property name="password" value="root"/>
	</bean>
           
     <!-- 配置sessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    	<property name="dataSource" ref="dataSource"></property>
    	<property name="hibernateProperties">
    		<map>
    			<entry key="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"></entry>
    			<entry key="hibernate.show_sql" value="true"></entry>
    			<entry key="hibernate.format_sql" value="true"></entry>
   					<!--  <entry key="hibernate.hbm2ddl.auto" value="create"></entry> -->
    		<entry key="hibernate.hbm2ddl.auto" value="update"></entry>
    		</map>
    	</property>
    	<property name="mappingResources">
    		<list>
	        	<value>com/hotel/entity/Customer.hbm.xml</value>
	      	</list>
    	</property>
    </bean> 
         
    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="find*" propagation="NOT_SUPPORTED"/>
			<tx:method name="add*" propagation="REQUIRED" rollback-for="com.hotel.exception.ServException"/>
			<tx:method name="delete*" propagation="REQUIRED" rollback-for="com.hotel.exception.ServException"/>
			<tx:method name="update*" propagation="REQUIRED" rollback-for="com.hotel.exception.ServException"/>
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut expression="execution(* com.hotel.service.impl..*.*(..))" id="allServiceMethods"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="allServiceMethods"/>
	</aop:config>
        
    
     
	<bean id="userAction" class="com.hotel.action.UserAction" scope="prototype">
     	<property name="userService" ref="userService"></property>
    </bean>
    
    <bean id="dispatchAction" class="com.hotel.action.DispatchAction" scope="prototype">
     	<property name="hotelService" ref="hotelService"></property>
    </bean>
    
    <bean id="ajaxAction" class="com.hotel.action.AjaxAction" scope="prototype">
     	<property name="userService" ref="userService"></property>
    </bean>
    
    
    <bean id="userService" class="com.hotel.service.impl.UserServiceImpl">
     	<property name="userDAO" ref="userDAO"></property>
    </bean>
    
    <bean id="userDAO" class="com.hotel.dao.impl.UserDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
</beans>